@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
    border-color: #d1d5dc;
}

@theme {
    --color-primary: #5f6fff
}

:root {
    --auto-grid: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width:740px) {
    .active {
        @apply text-white bg-primary
    }
}